<div class="item-title">
    {{model.title}}
</div>
<div class="item-description">
    <ul>
        <li>
            <label class="item-label">Id:</label> {{model.id}}
        </li>
        <li>
            <label class="item-label">Owner:</label> {{model.owner.username}}
        </li>
        <li>
            <label class="item-label">Message:</label> {{model.message}}
        </li>
        <li>
            <label class="item-label">Creation Date:</label> {{model.creationDate}}
        </li>
    </ul>
</div>
